@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75); // paragraphs
  --very-light-gray: hsl(0, 0%, 95%); // background, headings, buttons
}

body {
  background: var(--very-light-gray);
  font-size: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  > main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    > article {
      height: 400px;
      width: 240px;
      padding: 1em;
      padding-left: 2em;
      > img {
        padding-top: 15px;
        padding-left: 20px;
      }
      > h4 {
        text-transform: uppercase;
        font-family: "Big Shoulders Display", cursive;
        font-size: 1.8em;
        color: var(--transparent-white);
      }
      > p {
        color: var(--transparent-white);
        font-size: 1em;
        font-family: "Lexend Deca", sans-serif;
        height: 100px;
        width: 200px;
        line-height: 1.5em;
        margin-top: -1em;
      }
      > a {
        background-color: var(--very-light-gray);
        border: 2px solid var(--very-light-gray);
        height: 40px;
        width: 150px;
        border-radius: 1.5em;
        margin-top: 4em;
        font-weight: bold;
        > a {
          text-decoration: none;
        }
      }
      > a:hover {
        cursor: pointer;
        transition: ease 0.3s;
        color: var(--very-light-gray);
      }
    }
    > .one {
      background-color: var(--bright-orange);
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
      > button {
        color: var(--bright-orange);
        height: 40px;
        width: 200px;
        border-radius: 20px;
        border: 2px solid white;
        margin-top: 50px;
        font-weight: bold;
      }
      > button:hover {
        background-color: var(--bright-orange);
        transition: ease 0.3s;
        color: var(--very-light-gray);
      }
    }
    > .two {
      background-color: var(--dark-cyan);
      > button {
        color: var(--dark-cyan);
        height: 40px;
        width: 200px;
        border-radius: 20px;
        border: 2px solid white;
        margin-top: 50px;
        font-weight: bold;
      }
      > button:hover {
        background-color: var(--dark-cyan);
        transition: ease 0.3s;
        color: var(--very-light-gray);
      }
    }
    > .three {
      background-color: var(--very-dark-cyan);
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      > button {
        color: var(--very-dark-cyan);
        height: 40px;
        width: 200px;
        border-radius: 20px;
        border: 2px solid white;
        margin-top: 50px;
        font-weight: bold;
      }
      > button:hover {
        background-color: var(--very-dark-cyan);
        transition: ease 0.3s;
        color: var(--very-light-gray);
      }
    }
  }
}
footer {
  > .attribution {
    font-size: 11px;
    text-align: center;
  }
  > .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

@media only screen and (max-width: 425px) {
  main {
    display: flex;
    flex-direction: column;
    height: auto;
    > .one {
      border-radius: 0.5em 0.5em 0 0;
    }
    > .three {
      border-top-right-radius: 0 0 0.5em 0.5em;
    }
  }
}
